.main-text {
  color: #a7a9bc;
}

h1 {
  font-family: Helvetica;
  font-size: 42px;
  color: #ffffff;
  letter-spacing: 0.35px;
  line-height: 56.7px;
}

p {
  font-family: Helvetica;
  font-size: 11.2px;
  color: #a7a9bc;
  letter-spacing: 0.35px;
  line-height: 24.5px;
}

